# Data Types and Structures Assignment

1. What are data structures, and why are they important?

=>  Data structure is a way of organizing, storing, and managing data in a
    computer so that it can be accessed and used efficiently.Data structures are essential in computer science and programming for several crucial reasons:
  * Efficient Data Management
  * Code Reusability
  * Algorithm Design
  * System Performance

2. Explain the difference between mutable and immutable data types with examples

=> Immutable data types are those whose values cannot be changed once they are
    created. If you try to modify an immutable object, a new object is created instead. Common immutable data types in Python include, strings, tuples etc

  Mutable data types are those whose values can be changed after they are created. Common mutable data types in Python include, lists, sets etc.

3. What are the main differences between lists and tuples in Python?

=> List is a container that contains different types of objects. In it, the
    elements are separated by commas and stored within square brackets. Each element of a list has a unique position index, starting from 0 and list is mutable

   Tuple is also similar to a list but it contains immutable objects and they are stored within parentheses. Those objects that cannot be modified by any means are called as immutable

4.  Describe how dictionaries store data.

=> Dictionaries are used to store data values in key:value pairs. A dictionary
    is a collection which is ordered, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?

=> In Python, both sets and lists are used to store collections of elements but
    they have key differences that make them suitable for different use cases. The main difference is that lists are ordered, meaning the order of elements is preserved and they can be accessed by their index while sets are unordered meaning they do not maintain the order of elements and automatically ensure all elements are unique.

6. What is a string in Python, and how is it different from a list?

=> Mutability:

String: Immutable (cannot be changed after creation).

List: Mutable (can be changed after creation).
Data Types:

String: Contains only characters.

List: Can contain elements of different data types (integers, floats, strings, etc.).

String: Typically used for text manipulation.

List: Used for storing collections of items.

String: Methods are focused on text processing.

List: Methods are focused on list manipulation (adding, sorting elements etc.)

7. How do tuples ensure data integrity in Python?

=> Tuples in Python are a powerful tool for ensuring data integrity due to their immutable nature.

8. What is a hash table, and how does it relate to dictionaries in Python?

=>  A Hash table is defined as a data structure used to insert, look up, and
    remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array. The index functions as a storage location for the matching value. In simple words, it maps the keys with the value.

9. Can lists contain different data types in Python?

=> In Python, lists are incredibly versatile and can contain elements of different data types.

10. Explain why strings are immutable in Python.

=> String are immutable in Python, Because it not not be modified or we can add
    more element after being created

11. What advantages do dictionaries offer over lists for certain tasks?

=>  Dictionaries are for fast lookups, meaningful key-value associations, and
    unordered data.
    `Lists` are for ordered sequences of items.
    Advantages of Dictionaries over Lists

   * Efficient Lookups by Key:
   * Meaningful Key-Value Associations:
   * Unordered Data:
   * Easy insertion and deletion:

12. Describe a scenario where using a tuple would be preferable over a list.

=> Tuples are preferred over lists in the following cases:

When we want to ensure that data is not changed accidentally. Tuples being immutable do not allow any changes in its data.
When we want faster access to data that will not change as tuples are faster than lists.
When we want to use the data as a key in a dictionary.
When we want to use the data as an element of a set.

13. How do sets handle duplicate values in Python?

=> In Python, sets are a collection type that automatically handle duplicate
    values by ensuring that each element is unique. When you add elements to a set, any duplicate values are automatically removed.

14. How does the “in” keyword work differently for lists and dictionaries?

=> The in keyword works differently for lists and dictionaries, primarily
    because of how these two data structures are organized internally.

  `in` with Lists

    What it does: When you use in with a list, you're essentially asking: "Is this value present in the list?"
    How it works (internally): Python performs a linear search through the list. It starts at the beginning of the list and checks each element one by one to see if it matches the value you're looking for.
    Time complexity: Because of this linear search, the time it takes to check for an element grows proportionally to the size of the list. This is called O(n) time complexity, where 'n' is the number of elements in the list.
    Implication: As the list gets longer, checking for an element using in gets slower.

  `in`with Dictionaries

    What it does: When you use in with a dictionary, you're asking: "Is this key present in the dictionary?"
    How it works (internally): Dictionaries are implemented as hash tables. This is a special data structure that allows for very fast lookups. Instead of searching linearly, Python calculates a "hash" value for the key, which tells it where to look for that key in the dictionary.
    Time complexity: Because of the hash table, checking if a key is in a dictionary is, on average, O(1) time complexity (constant time). This means that the time it takes to check for a key is practically the same, regardless of how many key-value pairs are in the dictionary.
    Implication: Dictionaries are much more efficient than lists for checking the presence of a specific key.

15. Can you modify the elements of a tuple? Explain why or why not.

=> No, we can not modify the elements of tuple, because tuples are immutable in
    nature

16. What is a nested dictionary, and give an example of its use case?

=> Nesting Dictionary means putting a `dictionary` inside another `dictionary`.

In [ ]:
# example of a Nested Dictionary
Dict = {1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

17. Describe the time complexity of accessing elements in a dictionary.

=> `Dictionary` has a time complexity
    of O (n) where n is the number of elements. Using the keys () or values () method to retrieve all keys or values takes O (n) time since it involves traversing the dictionary.

18. In what situations are lists preferred over dictionaries?

=> Situation were `lists` preferred over `Dicitionaries` are:

  * Order matters.
  * You need to access items by position.
  * You may have duplicate elements.
  * You need to perform simple iteration.
  * There's no natural key associated with the data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

=> A `dictionar` is often referred to as an unordered collection of objects
    because the elements within a `dictionary` are not arranged in a specific order. In other words, the items in a `dictionary` do not have an inherent positional index like they do in a list or an array.

   How it does affects data retrieval in these ways:

  * No Retrieval by Position (Indexing):
  * Key-Based Access Only:
  * Unpredictable Iteration:
  * Iteration Order :
  * No Concept of "First" or "Last" Element:
  * Data Retrieval Based on Key, Not Sequence:

20. Explain the difference between a list and a dictionary in terms of data retrieval

=> In Python, both lists and dictionaries are built-in data structures used to
    store collections of data.

    Lists

Lists are ordered collections of items that can be of different types. They are defined using square brackets `[]` and can be accessed using indices. Lists are mutable, meaning their elements can be changed after creation. They allow duplicate values and maintain the order of elements.

    Dictionaries

Dictionaries are collections of key-value pairs. They are defined using curly braces `{}`and can be accessed using keys. Dictionaries are also mutable, but they do not allow duplicate keys. The keys must be of an immutable data type, such as strings, numbers, or tuples.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [60]:
#code for the above ques.
def str1(my_name):
  return f"My name = {my_name}"
print(str1("Aryan Dhiman"))

My name = Aryan Dhiman

2. Write a code to find the length of the string "Hello World".

In [18]:
#code for the above ques.
def str2(length):
  return len(length)
print(str2("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [23]:
#code for the above ques.
def str3(slice):
  return slice[0:3]
print(str3("Python Programming"))

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [24]:
#code for the above ques.
def str4(convert):
  return convert.upper()
print(str4("hello"))

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [25]:
#code for the above ques.
def str5(fruit_list):
  return fruit_list.replace("apple","orange")
print(str5("I like apple"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [26]:
#code for the above ques.
def list1(num):
  return num
print(list1([1,2,3,4,5]))

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [27]:
#code for the above ques.
def list2(num):
  num.append(10)
  return num
print(list2([1,2,3,4]))

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
#code for the above ques.
def list3(num):
  num.remove(3)
  return num
print(list3([1,2,3,4,5]))

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [28]:
#code for the above ques.
def list4(num):
  return num[1]
print(list4(['a', 'b', 'c', 'd']))

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [29]:
#code for the above ques.
def list5(num):
  return num[::-1]
print(list5([10, 20, 30, 40, 50]))

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [30]:
#code for the above ques.
def tuple1(num):
  return num
print(tuple1((100,200,300)))

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [31]:
#code for the above ques.
def tuple2(num):
  return num[-2]
print(tuple2(('red', 'green', 'blue', 'yellow')))

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [32]:
#code for the above ques.
def tuple3(num):
  return min(num)
print(tuple3((10, 20, 5, 15)))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
#code for the above ques.
def tuple4(num):
  return num.index("cat")
print(tuple4(('dog', 'cat', 'rabbit')))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [34]:
#code for the above ques.
def tuple5(num):
  if "kiwi" in num:
    return True
  else:
    return False
print(tuple5(('apple', 'banana', 'kiwi')))

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [35]:
#code for the above ques.
def set1(num):
  return num
print(set1({'a', 'b', 'c'}))

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [36]:
#code for the above ques.
def set2(num):
  num.clear()
  return num
print(set2({1, 2, 3, 4, 5}))

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [37]:
#code for the above ques.
def set3(num):
  num.remove(4)
  return num
print(set3({1, 2, 3, 4}))

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [38]:
#code for the above ques.
def set4(num1,num2):
  return num1.union(num2)
print(set4({1, 2, 3}, {3, 4, 5}))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [39]:
#code for the above ques.
def set5(num1,num2):
  return num1.intersection(num2)
print(set5({1, 2, 3}, {2, 3, 4}))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [40]:
#code for the above ques.
def dict1(num):
  return num
print(dict1({"name": "John", "age": 25, "city": "New York"}))

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [43]:
#code for the above ques.
def dict2(num):
  num["country"] = "USA"
  return num
print(dict2({'name': 'John', 'age': 25}))

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [44]:
#code for the above ques.
def dict3(num):
  return num["name"]
print(dict3({'name': 'Alice', 'age': 30}))

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [45]:
#code for the above ques.
def dict4(num):
  del num["age"]
  return num
print(dict4({'name': 'Bob', 'age': 22, 'city': 'New York'}))

{'name': 'Bob', 'city': 'New York'}


25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
#code for the above ques.
def dict5(num):
  if "city" in num:
    return True
  else:
    return False
print(dict5({'name': 'Alice', 'city': 'Paris'}))

True


26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [62]:
#code for the above ques.
my_list = [1, 2, 3, "apple", "orange"]
my_tuple = (100, 20, 69, "red", "blue")
my_dictionary = {
    "name": "Aryan Dhiman",
    "age": 21,
    "city": "Himachal Pradesh"
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3, 'apple', 'orange']
Tuple: (100, 20, 69, 'red', 'blue')
Dictionary: {'name': 'Aryan Dhiman', 'age': 21, 'city': 'Himachal Pradesh'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [50]:
#code for the above ques.
import random
def list1(num):
  num.sort()
  return num
print(list1([random.randint(1,100) for i in range(5)]))

[6, 34, 48, 52, 65]


28. Write a code to create a list with strings and print the element at the third index.

In [51]:
#code for the above ques.
def list1(num):
  return num[2]
print(list1(['a', 'b', 'c', 'd']))

c


29. Write a code to combine two dictionaries into one and print the result.

In [52]:
#code for the above ques.
def dict1(num1,num2):
  num1.update(num2)
  return num1
print(dict1({'a': 1, 'b': 2}, {'c': 3, 'd': 4}))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [53]:
#code for the above ques.
def set1(num):
  return set(num)
print(set1(['a', 'b', 'c', 'd']))

{'d', 'c', 'b', 'a'}